In [1]:
# !pip install pandas

import pandas as pd
import numpy as np

In [2]:
# Load the CSV file
file_path = "HydroMet Data/FINAL/WaterLevelSundarijalFinal.csv"  # Replace with the actual file path
df = pd.read_csv(file_path)

print(df.head(10))
print(df.shape)
print("initial df shape : ",df.shape)

   Full_date  Hour  Minute waterLevel
0  26/4/2024  22.0    15.0      0.202
1  26/4/2024  22.0    15.0      0.202
2  26/4/2024  22.0    15.0      0.202
3  27/4/2024  14.0     5.0      0.198
4  27/4/2024  13.0    45.0       0.18
5  27/4/2024  12.0    35.0      0.189
6  27/4/2024  14.0    45.0      0.191
7  27/4/2024  11.0    55.0      0.198
8  27/4/2024  12.0    35.0      0.189
9  27/4/2024  13.0    25.0      0.194
(16333, 4)
initial df shape :  (16333, 4)

In [3]:
# Count the number of duplicate rows
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 1978

In [4]:

# Remove duplicate rows
df = df.drop_duplicates()

print("df shape after removing duplicates: ",df.shape)

print(df.head(10))

df shape after removing duplicates:  (14355, 4)
    Full_date  Hour  Minute waterLevel
0   26/4/2024  22.0    15.0      0.202
3   27/4/2024  14.0     5.0      0.198
4   27/4/2024  13.0    45.0       0.18
5   27/4/2024  12.0    35.0      0.189
6   27/4/2024  14.0    45.0      0.191
7   27/4/2024  11.0    55.0      0.198
9   27/4/2024  13.0    25.0      0.194
10  27/4/2024  13.0    15.0      0.192
11  27/4/2024  14.0    25.0      0.201
12  28/4/2024  15.0    25.0      0.201

In [5]:
# Find rows where Full_date contains the value "#VALUE!"
invalid_rows = df[df['Full_date'] == "#VALUE!"]

# Get the number of rows with the issue
num_invalid_rows = len(invalid_rows)
print(f"Number of rows with '#VALUE!' in Full_date: {num_invalid_rows}")

df = df[df['Full_date'] != "#VALUE!"]
print(df.shape)

Number of rows with '#VALUE!' in Full_date: 1
(14354, 4)

In [6]:
# sort data based on date, hour and minute

# Ensure the date column is in datetime format for correct sorting
df['Full_date'] = pd.to_datetime(df['Full_date'], format='%d/%m/%Y')

# Sort the data by Full_date, Hour, and Minute
df = df.sort_values(by=['Full_date', 'Hour', 'Minute'], ascending=[True, True, True])

# Reset index for a clean DataFrame
df = df.reset_index(drop=True)

print(df.head(100))

    Full_date  Hour  Minute waterLevel
0  2024-03-21   4.0    15.0      0.217
1  2024-03-21   5.0    25.0      0.224
2  2024-03-21   7.0    15.0      0.217
3  2024-03-21   8.0     5.0      0.211
4  2024-03-21   8.0    55.0      0.217
..        ...   ...     ...        ...
95 2024-03-22  17.0    55.0      0.205
96 2024-03-22  18.0    15.0      0.201
97 2024-03-22  18.0    25.0      0.206
98 2024-03-22  18.0    55.0      0.212
99 2024-03-22  19.0    15.0      0.217

[100 rows x 4 columns]

In [7]:
# Check for duplicates based on 'Full_date', 'Hour', and 'waterLevel'
duplicates = df[df.duplicated(subset=['Full_date', 'Hour', 'waterLevel'])]

# Get the number of duplicate rows
num_duplicates = len(duplicates)
print(num_duplicates)
df= df.drop_duplicates(subset=['Full_date', 'Hour', 'waterLevel'])

print("df shape after removing duplicates:", df.shape)
print(df.head(20))

1373
df shape after removing duplicates: (12981, 4)
    Full_date  Hour  Minute waterLevel
0  2024-03-21   4.0    15.0      0.217
1  2024-03-21   5.0    25.0      0.224
2  2024-03-21   7.0    15.0      0.217
3  2024-03-21   8.0     5.0      0.211
4  2024-03-21   8.0    55.0      0.217
5  2024-03-21  10.0    15.0      0.218
7  2024-03-21  11.0     5.0      0.219
8  2024-03-21  11.0    25.0      0.216
9  2024-03-21  11.0    55.0      0.224
10 2024-03-21  12.0    15.0       0.22
12 2024-03-21  12.0    55.0      0.223
13 2024-03-21  13.0    25.0      0.221
14 2024-03-21  13.0    45.0      0.222
15 2024-03-21  14.0     5.0      0.227
16 2024-03-21  14.0    25.0       0.22
17 2024-03-21  14.0    55.0      0.224
18 2024-03-21  15.0    25.0      0.218
19 2024-03-21  15.0    45.0       0.22
20 2024-03-21  16.0     5.0       0.22
21 2024-03-21  16.0    55.0      0.297

In [8]:
df['waterLevel'] = pd.to_numeric(df['waterLevel'], errors='coerce')
df = df.groupby(['Full_date', 'Hour'], as_index=False).agg({'waterLevel': 'mean'})
print("df shape after having 1 data per hour:", df.shape)

output_file_path = "cleaned_file.csv"  # Replace with desired output file path
df.to_csv("aa.csv", index=False)

print(df.head(100))

df shape after having 1 data per hour: (5074, 3)
    Full_date  Hour  waterLevel
0  2024-03-21   4.0    0.217000
1  2024-03-21   5.0    0.224000
2  2024-03-21   7.0    0.217000
3  2024-03-21   8.0    0.214000
4  2024-03-21  10.0    0.218000
..        ...   ...         ...
95 2024-03-25   5.0    0.228500
96 2024-03-25   6.0    0.224500
97 2024-03-25   7.0    0.216667
98 2024-03-25   8.0    0.212500
99 2024-03-25   9.0    0.212000

[100 rows x 3 columns]

In [9]:
# print(df.tail(50))

subset_df = df.iloc[40:100]

# Print the subset
print(subset_df)

    Full_date  Hour  waterLevel
40 2024-03-22  22.0    0.230000
41 2024-03-22  23.0    0.225500
42 2024-03-23   0.0    0.224333
43 2024-03-23   1.0    0.223000
44 2024-03-23   2.0    0.219667
45 2024-03-23   3.0    0.220500
46 2024-03-23   4.0    0.220000
47 2024-03-23   5.0    0.221000
48 2024-03-23   6.0    0.221667
49 2024-03-23   7.0    0.256000
50 2024-03-23   8.0    0.276500
51 2024-03-23   9.0    0.228333
52 2024-03-23  10.0    0.219500
53 2024-03-23  11.0    0.218333
54 2024-03-23  12.0    0.217000
55 2024-03-23  13.0    0.215500
56 2024-03-23  14.0    0.214500
57 2024-03-23  15.0    0.213000
58 2024-03-23  16.0    0.213500
59 2024-03-23  17.0    0.215000
60 2024-03-23  18.0    0.214667
61 2024-03-23  19.0    0.219000
62 2024-03-23  20.0    0.223000
63 2024-03-23  21.0    0.221500
64 2024-03-23  22.0    0.221500
65 2024-03-23  23.0    0.224000
66 2024-03-24   0.0    0.221000
67 2024-03-24   1.0    0.223500
68 2024-03-24   2.0    0.219333
69 2024-03-24   3.0    0.219333
70 2024-03-24   4.0    0.219000
71 2024-03-24   5.0    0.222000
72 2024-03-24   6.0    0.226000
73 2024-03-24   7.0    0.241333
74 2024-03-24   8.0    0.218500
75 2024-03-24   9.0    0.223333
76 2024-03-24  10.0    0.222000
77 2024-03-24  11.0    0.223333
78 2024-03-24  12.0    0.224500
79 2024-03-24  13.0    0.223667
80 2024-03-24  14.0    0.226000
81 2024-03-24  15.0    0.222667
82 2024-03-24  16.0    0.220667
83 2024-03-24  17.0    0.221500
84 2024-03-24  18.0    0.218000
85 2024-03-24  19.0    0.218500
86 2024-03-24  20.0    0.218333
87 2024-03-24  21.0    0.221000
88 2024-03-24  22.0    0.226500
89 2024-03-24  23.0    0.227000
90 2024-03-25   0.0    0.225000
91 2024-03-25   1.0    0.234000
92 2024-03-25   2.0    0.226000
93 2024-03-25   3.0    0.230333
94 2024-03-25   4.0    0.228000
95 2024-03-25   5.0    0.228500
96 2024-03-25   6.0    0.224500
97 2024-03-25   7.0    0.216667
98 2024-03-25   8.0    0.212500
99 2024-03-25   9.0    0.212000

In [10]:
# '2024-04-15'
all_dates = pd.date_range(start='2024-04-15', end='2024-11-25', freq='D')
# all_dates = pd.date_range(start='2024-03-22', end='2024-11-25', freq='D')

all_hours = pd.DataFrame({
    'Full_date': np.tile(all_dates, 24),
    'Hour': np.repeat(np.arange(24), len(all_dates))
})

In [11]:
# Step 2: Merge the original data with the complete hours
merged_df = pd.merge(all_hours, df, on=['Full_date', 'Hour'], how='left')

merged_df['DateTime'] = pd.to_datetime(merged_df['Full_date'].dt.date.astype(str) + ' ' + merged_df['Hour'].astype(str) + ':00')

merged_df['Full_datetime']=merged_df['DateTime']

# Set the datetime column as index
merged_df.set_index('DateTime', inplace=True)

# Interpolate based on datetime index
merged_df['waterLevel'] = merged_df['waterLevel'].interpolate(method='time').round(3)

# Sort the data by Full_date, Hour, and Minute
merged_df = merged_df.sort_values(by=['Full_date', 'Hour'], ascending=[True, True])

# Reset index for a clean DataFrame
merged_df = merged_df.reset_index(drop=True)

In [12]:
# print(merged_df.head(25))
print(merged_df.shape,"shape after interpolation")

(5400, 4) shape after interpolation

In [13]:
# Save the cleaned data back to a CSV file
output_file_path = "cleaned_water_level_data_14_dec.csv"  # Replace with desired output file path
merged_df.to_csv(output_file_path, index=False)